*{
  margin: 0;
  padding: 0;
}
h1,h2,h3,p {
  font-family: archia;
}

/*---------------------------------------------------------------Fonts----------------------------------------------------------*/
@font-face {
  font-family: archia;
  src: url(fonts/archia-medium-webfont.woff2);
}
@font-face {
  font-family: archia-bold;
  src: url(fonts/archia-bold-webfont.woff2);
}
@font-face {
  font-family: archia-semibold;
  src: url(fonts/archia-semibold-webfont.woff2);
}

/*-------------------------------------------------------------Navigation-------------------------------------------------------*/
.nav {
  width: 100%;
  height: 3.7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px 12px #161625;
  background-color: #1e1e30!important;
}
a {
  text-decoration: none;
  cursor: auto;
}
.nav_logo {
  font-size: 33px;
  font-weight: bold;
  font-family: archia;
  color: #bdbdbd;
  cursor: pointer;
}
.sign-btn {
  cursor: pointer;
  color: #6c757d;
  padding-right: 15px;
  font-size: 12px;
  font-weight: 600;
  font-family: archia;
}
.sidenav {
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  transition: 0.5s;
  padding-top: 60px;
  float: left;
  position: fixed;
  overflow-x: hidden;
  background-color: #161625;
}
.sidenav a {
  font-size: 16px;
  transition: 0.3s;
  padding: 8px 0px 8px 8px;
  display: block;
  color: #818181;
  cursor: pointer;
  text-decoration: none;
  font-family: archia;
}
.sidenav a:hover {
  color: #fff;
  background-color: #818181;
}

.sidenav .closebtn {
  top: 0;
  font-size: 36px;
  position: absolute;
}

/*-------------------------------------------------------------Row 1-------------------------------------------------------*/
.row1 {
  width: 100%;
  height: auto;
  color: #000;
  display: flex;
  font-family: archia;
  background-color: #fff;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hero {
  padding: 80px 40px;
}
.header {
  font-size: 42px;
  padding: 8px;
}
.descrp {
  padding: 8px;
  font-size: 16px;
}
.doubleborder {
  width: 120px;
  height: 40px;
  border-radius: 45px;
  background-color: #fff;
  color: #000; 
  border: 2px solid #161625;
  margin: 10px;
}
.doubleborder:hover {
  background-color: #161625;
  color: #fff; 
}
.doubleborders{
  width: 120px;
  height: 40px;
  border-radius: 45px;
  margin: 10px;
  background-color: #fff;
  color: black; 
  border: 2px solid #12cae6;
}
.doubleborders:hover{
  background-color: #12cae6;
  color: #fff;
}

/*-------------------------------------------------------------Row 2-------------------------------------------------------*/
.row2 {
  width: 100%;
  height: auto;
  font-family: archia;
  color: #fff;
  background-color: #161625;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.grid-container {
  display: grid;
  grid-template-columns: auto;
  padding: 10px;
  cursor: pointer;
  color: #db5581;
}
.grid-item {
  height: 160px;
  background-color: #2e1e30;
  padding: 20px;
  margin: 10px;
  font-size: 30px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.grid-item:hover {
  color: #ff073a;
}

/*-------------------------------------------------------------Footer-------------------------------------------------------*/
.footer {
  width: 100%;
  height: auto;
  background-color: #161625;
  font-size: 12px;
  font-weight: 600;
  padding-bottom: 60px;
  padding-top: 50px;
  color: #6c757d;
  text-align: center;
  font-family: archia;
  background-color: #161625;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*--------------------------------------------------------Responsive-------------------------------------------------------*/
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@media only screen and (min-width: 768px) {
  .hero{padding: 150px 70px;}
  .pro {padding: 40px 40px;}
}

/*--------------------------------------------------------Tablet-------------------------------------------------------*/
@media only screen and (min-width: 600px) {
  
}
